{% load static %}


<style>

    .container {
        padding: 0;
        margin: 0 auto;
    }

    .container a {
        width: 45%;
        max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

    {% if article_list %}
    <div class="container">
      {% for article in article_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article %} <!-- with로 article을 연결해준다. card안의 article과 여기의 article을 연결함!! -->
        </a>
      {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>구독한 프로젝트가 없습니다.</h1>
    </div>
    {% endif %}

    {% include 'snippets/pagination.html' with page_obj=page_obj %}

    <div style="text-align: center">
        <a href="{% url 'projectapp:list' %}" class="btn btn-dark rounded-pill mt-3 md-3 px-3">
            구독하러가기
        </a>
    </div>
